<%- include('header') -%>
<h1>Welcome, <%= user.username %>!</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Quick Stats</h5>
                <p>Role: <%= user.role %></p>
                <p>Joined: <%= new Date().toLocaleDateString() %></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Recent Activity</h5>
                <ul class="list-unstyled">
                    <li>Login successful</li>
                    <li>Session active</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
